---
title: Release Notes for ECS Service Broker for PCF
owner: Partners
---

##<a id="ver"></a> v1.1.0

**Release Date:** Dec 1, 2017

Fixes included in this release:

* Failure to mount via NFS without export directory specified

Features included in this release:

* Support host-based addressing URL in service binding credentials
* Support multiple PCF instances to address the same bucket/namespace services

##<a id="ver"></a> v1.0.2

**Release Date:** Oct 30, 2017

Fixes included in this release:

* Fixes for tile support for service tags and plan bullets
* Bump memory requirement for app to 1 GB

##<a id="ver"></a> v1.0.1

**Release Date:** October 23, 2017

Fixes included in this release:

* Proper serialization of the `broker-api-version` property, as a string
* Enables service-access for all services

Features included in this release:

* Improves tile form layout and descriptions
* Supports administrator configured catalog services
* Uses credhub for service broker credentials

##<a id="ver"></a> v1.0

**Release Date:** Aug 24, 2017

Features included in this release:

* On-Demand service instance provisioning
* Requires stemcell 3312.12
* Supports PCF v1.10.x and later
