---
title: Release Notes for ECS Service Broker for PCF
owner: Partners
---

##<a id="ver"></a> v1.0.1

**Release Date:** Oct 17, 2017

Fixes included in this release:

* Properly serialize the `broker-api-version` property, as a string
* Enable service-access for all services

Features included in this release:

* Improve tile form layout and descriptions
* Support administrator configured catalog services
* Use credhub for service broker credentials

##<a id="ver"></a> v1.0

**Release Date:** Aug 24, 2017

Features included in this release:

* On-Demand service instance provisioning
* Requires stemcell 3312.12
* Supports PCF v1.10.x and later
