---
title: Release Notes for ECS BROKER for PCF
owner: Partners
---

##<a id="ver"></a> v0.9.0

**Release Date:** Aug 1, 2017

Features included in this release:

* On-Demand service instance provisioning
* Requires stemcell 3312.12
* Supports PCF v1.10.x and later
